.header {
    font-weight: bold;
}
.line {
    border-bottom: 1px solid #333;
    margin-bottom: 2px;
    padding-bottom: 2px;
}
.guests {
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 2px;

    form {
        margin: 10px;
        border: 1px solid #aaa;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .name {
            font-weight: bold;
            padding: 10px;
        }
    }
}
